@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

:root {
    --white: #ffffff;
    --red: #e31b23;
    --bodyColor: #141414;
    --borderFormEls: hsl(0, 0%, 10%);
    --bgFormEls: #525252bb;
    --bgFormElsFocus: rgba(37, 51, 71, 0.644);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
    -webkit-user-drag: none;
}

ul{list-style: none;}

input,
textarea,
button {
    font-family: inherit;
    font-size: 100%;
}

button,
label {
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

body {
    font: 18px/1.5 "Open Sans", sans-serif;
    color: var(--white);
    margin: 1.5rem 0;
}

.complaint-container{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
    width: 800px;
    height: 650px;
    background: linear-gradient(to top, #0e131a8a, #131a24, #253347);
    box-shadow: 1px 1px 25px 4px #000;
    border-radius: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.my-form .btn-grid {
    position: relative;
    overflow: hidden;
    transition: filter 0.2s;
    width: 240px;
    left: 50%;
    transform: translateX(-50%);
}

.my-form li,
.my-form .grid > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.my-form input,
.my-form textarea,
.my-form button {
    width: 100%;
    line-height: 1.5;
    padding: 15px 10px;
    border: 1px solid var(--borderFormEls);
    color: var(--white);
    background: radial-gradient( #31313163,  #222222ad , #222222be);
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form textarea {
    height: 170px;
    resize: none;
}

.my-form ::placeholder {
    color: inherit;
    opacity: 1;
}

.my-form input:focus,
.my-form textarea:focus,
.my-form button:enabled:hover,
.my-form button:focus,
.my-form input[type="checkbox"]:focus + label {
    background: var(--bgFormElsFocus);
}

.my-form input:focus,
.my-form textarea:focus {
    transform: scale(1.02);
}

.my-form *:disabled {
    cursor: default;
    filter: blur(2px);
}

.my-form button {
    font-weight: bold;
}

.my-form button > * {
    display: inline-block;
    width: 100%;
    transition: transform 0.4s ease-in-out;
}

.my-form button .back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-110%, -50%);
}

.my-form button:enabled:hover .back,
.my-form button:focus .back {
    transform: translate(-50%, -50%);
}

.my-form button:enabled:hover .front,
.my-form button:focus .front {
    transform: translateX(110%);
}

@media screen and (min-width: 600px) {
    .my-form .grid {
        display: grid;
        grid-gap: 1.5rem;
    }

    .my-form .grid-2 {
        grid-template-columns: 1fr 1fr;
    }

    .my-form .grid-3 {
        grid-template-columns: auto auto auto;
        align-items: center;
    }

    .my-form .grid > *:not(:last-child) {
        margin-bottom: 0;
    }
}

input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
